<form method="post">
  <fieldset style="display: inline-block">
    <label>Name: <input name="name"></label><br><br>
    <label>Password: <input name="password" type="password"></label><br><br>
    <input type="submit" value="Login" style="background-color: green">&nbsp;&nbsp;&nbsp;
    <input type="submit"
           value="register"
           style="background-color: darkblue; color: white"
           formaction="/register"
    >
  </fieldset>
</form>

<a href="<%= facebookLoginUrl %>">Login with facebook</a>
